*{
  padding: 0;
  margin: 0;
}

.App{
  text-align: left;
  height: 100vh;
}

.App-header{
  background-color: #ededed;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #cdd5c1;
}
.weather-wrapper{
  min-width: 360px;
  box-shadow: 0 1px 3px 0 #999999;
  background: -webkit-linear-gradient(top, #3e48dd 29%,#47057e 80%);;
  box-sizing: border-box;
  padding: 30px 15px;
  position: relative;
}
.location{
  font-size: 28px;
  margin-bottom: 20px;
}
.descriptipn{
  font-size: 16px;
  margin-bottom: 30px;
}
.current-weather{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}
.temperature{
  font-size: 70px;
  font-weight: 300;
  display: flex;
  font-weight: 500;
}
.weathericon{
  font-size: 100px;
  height: 100px;
  width: 100px;
}
.airflow{
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}
.rain{
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 300;
}
.icon{
  margin-right: 10px;
  font-size: 30px;
}
.update{
  font-size: 20px;
  background: none;
  border: none;
  color: #cdd5c1;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.other{
  background: -webkit-linear-gradient(top, #3e48dd 29%,#47057e 80%);
  max-width: 360px;
}
.none{
  display: none;
}
.location-name{
  font-size: 20px;
  margin: 10px 7px;
  border: none;
  padding: 8px 7px;
  background: rgba(255,255,255,0.3);
  border-radius: 8px;
}
.location-name:hover{
  background: rgba(255,255,255);
  cursor: pointer;
  color: #999999;
}
